.logo {
  width: 120px;
  height: 31px;
  line-height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
}
.setting {
  float: right;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}
.love {
  float: right;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.container {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}
