.logo {
  width: 120px;
  height: 31px;
  line-height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.setting {
  float: right;
  font-size: 18px;
  color: #fff;
}
